/* panel.css */
form {
  max-width: 500px;
  margin: 2rem auto;
  background: #f1f1ed;
  padding: 2rem;
  border-radius: 16px;
  border: 2px solid #b11226;
}

label {
  display: block;
  color: #1f2933;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

input, select {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #b11226;
  border-radius: 8px;
  margin-bottom: 1rem;
}

button[type="submit"] {
  background: #b11226;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 30px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

button[type="submit"]:hover {
  background: #e63946;
  box-shadow: 0 0 20px #b11226;
}

.panel-lista {
  display: grid;
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.panel-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: white;
  padding: 0.5rem;
  border-radius: 8px;
  border-left: 5px solid #b11226;
}

.panel-item img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid #b11226;
}

.panel-item button {
  margin-left: auto;
  background: #dc2626;
  color: white;
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.panel-item button:hover {
  background: #b11226;
}